@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:wght@500;600;800&display=swap');

* {
    margin: 0;
}

body {
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

.header {
    height: 400px;
    background-image: url("../images/coffee-bgnd.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 100px;
    font-family: 'Covered By Your Grace', cursive;
    color: rgba(3, 150, 100, 0.75);
    padding-top: 130px;
    text-align: center;    
} 
